<!-- src/app/pls/pls.component.html -->
<div class="simulator-container">
  @if (showOverlay) {
    <div class="overlay">
      <div class="controls-container">
        <label for="windStrengthSlider">Wind Strength: {{ windStrength }} m/s</label>
        <input 
          id="windStrengthSlider"
          type="range" 
          min="0" 
          max="10" 
          [value]="windStrength" 
          class="vertical-slider" 
          (input)="onWindStrengthChange($event)">

        <label for="windDirectionToggle">Wind Direction: </label>
        <select id="windDirectionToggle" [value]="windDirection" (change)="onWindDirectionChange($event)">
          <option value="headwind">Headwind</option>
          <option value="tailwind">Tailwind</option>
        </select>

        <button class="start-button" (click)="startSimulation()">{{ gameStarted ? 'Restart' : 'Start' }}</button>
      </div>
    </div>
  }

  <div class="slider-container">
    <label for="brakeSlider">Brake Input: {{ brakeValue }}%</label>
    <input 
      id="brakeSlider"
      type="range" 
      min="-100" 
      max="100" 
      [value]="brakeValue" 
      class="vertical-slider" 
      (input)="onBrakeInputChange($event)">
  </div>

  <!-- <app-vertical-slider
  [min]="-100"
  [max]="100"
  [value]="brakeValue"
  label="Brake Input"
  (valueChange)="onBrakeInputChange($event)">
  </app-vertical-slider> -->

  <div class="info-container">
    <div>Forward Speed: {{ roundedForwardSpeed }} m/s</div>
    <div>Sink Rate: {{ roundedSinkRate }} m/s</div>
    <div>Glide Ratio E: {{ glideRatio }}</div>
    <div>Brake Input: {{ brakeInput }} %</div>
    <div>Accelerator Input: {{ acceleratorInput }} %</div>
    <div>Height: {{ getRoundedHeightInMeters() }} m</div>
    <div>Wind Strength: {{ windStrength }} m/s</div>
    <div>Wind Direction: {{ windDirection }}</div>
  </div>

  <canvas #simulationCanvas width="1500" height="600"></canvas>
</div>
