.angular/cache/17.3.7/pls/.tsbuildinfo
node_modules/.cache/gh-pages/https!github.com!MrFyckingBeans!pls.git/
.angular/cache/
.angular/cache/17.3.7/vite/deps/_metadata.json
.angular/cache/17.3.7/pls/.tsbuildinfo